
  <div class="about-wrapper">
    <div class="img"></div>
    <div class="about-body mt-3 ml-5 ">
      <h1>About</h1>
      <h2>YAMALOGについて</h2>
      <hr>
        <p>登山の写真を投稿できるアプリケーションです</p>
    </div>
  </div>
  
  